<!DOCTYPE html>
<html>
    <head>
        <title>SCHEDULE APPLICATION</title>
        <script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/529fde5971.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/moment-with-locales.min.js"></script>
        <script src="/static/js/c_model.js"></script>
        <script src="/static/js/c_work_template.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
      <div ng-app="schedule">
        <div class="w3-row-padding">
          <div id="main-menu" class="w3-bar w3-black w3-center">
            <button id="add-work" class="w3-bar-item w3-button">WORK</button>
            <button id="add-work-template" class="w3-bar-item w3-button">WORK TEMPLATE</button>
            <!-- <button id="add-schedule" class="w3-bar-item w3-button">SCHEDULE</button>
            <button id="add-template" class="w3-bar-item w3-button">TEMPLATE</button> -->
          </div>
        </div>
        <div ng-controller="schedule-ctrl" class="w3-container">
          <div id="page-1" class="w3-container">
            <!-- CREATE A SCHEDULE TEMPLATE -->
            <div>
              <h3 class="w3-panel w3-blue">ADD NEW SCHEDULE TEMPLATE</h3>
              <div class="w3-card-4 w3-padding">                
                <p>Template name: <input type="text" ng-model="template.name"></p>
                <p>Template queue: <span class="w3-green" ng-repeat="i in template.queue">{{ i }} ,</span></p>
                <div>
                  Add Work Template: 
                  <select ng-model="work_select" ng-change="add_work_to_template()">
                    <option ng-repeat="item in work_templates" value="{{ item._id }}">{{ item.name }}</option>
                  </select>
                  <span>Or create new Work Template <button ng-click="create_new_work()">+</button></span>
                </div>
                
                <!-- <div id="create-work-template" class="w3-card-4">
                  <header class="w3-panel w3-purple">NEW WORK</header>
                  <p>
                      Name: <input type="text" ng-model="work_template.name">
                  </p>
                  <p>
                      Action: 
                      <select ng-model="mqtt_select" ng-change="add_work_action(mqtt_select)">
                        <option ng-repeat="i in mqtts" value="{{ i._id }}">{{ i.message }}</option>
                      </select>
                    </p>
                  <p>
                    <span ng-repeat="i in work_template.action">{{ i }}, </span>
                  </p>
                  <p>
                    Time: <input type="number" ng-model="work_template.time">
                  </p>                  
                  <footer class="w3-panel w3-purple">
                      <button ng-click="confirm_add_work()">Add WORK</button>
                  </footer>
                  
                </div> -->
                
                <!-- <p>Templat<input type="number" ng-model="template.time_start"></p> -->
                <button ng-click="confirm_add_template()">Add TEMPLATE</button>
              </div>
              
            </div>
          </div>
          <div id="page-2">
            <!-- CREATE A SCHEDULE -->
            <div>
              <h3 class="w3-panel w3-blue" >ADD NEW SCHEDULE</h3>
              <div class="w3-card-4 w3-padding">
                <p>
                  Schedule Name:
                  <input ng-model="schedule.name" type="text">
                </p>

                <p>
                  Choose a Template: 
                  <select ng-model="template_select" ng-change="add_template_to_schedule">
                    <option ng-repeat="item in templates" value="{{ item._id }}">{{ item._id }}</option>
                  </select>
                </p>
                
                <p>
                  Pick time start this Schedule:
                  <input ng-model="time_start_abs" type="datetime-local" ng-change="change_time_start()">
                </p>

                <p>
                    <button ng-click="confirm_add_schedule()">Add SCHEDULE</button>
                </p>
                
              </div>
            </div>
          </div>        
          <div id="page-3">
            <div>
              Choose a Template: 
              <select ng-model="work_template_select" ng-change="fill_work_form(work_template_select)">
                <option ng-repeat="i in work_templates" value="{{ i.id }}"> {{ i.name }}</option>
              </select>
              or create new:
              <button>+</button>
            </div>
            <div id="create-work" class="w3-card-4">
              <header class="w3-panel w3-purple">WORK</header>
              <p>
                  Name: <input type="text" ng-model="work.name">
              </p>
              <p>
                  Action: 
                  <select ng-model="work_mqtt_select" ng-change="add_work_action(work_mqtt_select)">
                    <option ng-repeat="i in mqtts" value="{{ i._id }}">{{ i.message }}</option>
                  </select>
                </p>
              <p>
                <span ng-repeat="i in work.action">{{ i }}, </span>
              </p>
              <p>
                Time: <input type="number" ng-model="work.time">
              </p>                  
              <!-- <input type="text" ng-model="work.parent" value="staff" readonly> -->
              <footer class="w3-panel w3-purple">
                  <button ng-click="confirm_add_work()">Add WORK</button>
              </footer>
              
            </div>
            Upcoming Work:
            <table ng-model="works_display" class="w3-table-all">
              <thead>
                <th>_ID</th>
                <th>NAME</th>
                <th>TIME</th>
                <th>MESSAGE</th>
                <th>ACTION</th>                
                <th></th>
              </thead>
              <tbody>
                <tr ng-repeat="i in works_display">
                  <td><input ng-model="i._id"></td>
                  <td><input ng-model="i.name"></td>
                  <td><input ng-model="i.time"></td>
                  <td><input ng-model="i.message"></td>
                  <td><p ng-repeat="j in i.action"> {{ j }}</p></td>
                  <td>
                    <button ng-click="edit_work()">E</button>
                    <button ng-click="delete_work()">X</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <p>Templat<input type="number" ng-model="template.time_start"></p> -->
          </div>
          <div id="page-4">
            <div id="create-work-template" class="w3-card-4">
              <header class="w3-panel w3-purple">WORK TEMPLATE</header>
              <p>
                  Name: <input type="text" ng-model="work_template.name">
              </p>
              <p>
                  Action: 
                  <select ng-model="work_template_mqtt_select" ng-change="add_work_template_action(work_template_mqtt_select)">
                    <option ng-repeat="i in mqtts" value="{{ i._id }}">{{ i.message }}</option>
                  </select>
                </p>
              <p>
                <span ng-repeat="i in work_template.action">{{ i }}, </span>
              </p>
              <p>
                Time: <input type="number" ng-model="work_template.time">
              </p>                  
              <footer class="w3-panel w3-purple">
                  <button ng-click="confirm_add_work_template()">Add WORK TEMPLATE</button>
              </footer>
              
            </div>
          </div>
        </div>
      </div>
      <script src="/static/agl.js"></script>
    </body>
</html>